<h1>dashboard</h1>
<label>Partner:</label> <%= current_user.partner.name %> <br/>
<ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="me-tab" data-toggle="tab" href="#me" role="tab" aria-controls="me" aria-selected="true">
      <%= current_user.name %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="false">
      <%= current_user.partner.name %>
    </a>
  </li>
</ul>
<br />
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="me" role="tabpanel" aria-labelledby="me-tab">
    <% Question.all.each do |question| %>
      <div class="card">
        <div class="card-body">
          <div>
            <label><strong><%= question.name %></strong></label>
            <ul class="list-group">
              <% question.answers.where(user: current_user).each do |answer| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= answer.value %>
                  <span class="badge badge-primary badge-pill"> <%= answer.id %> </span>
                </li>
              <% end %>
            </ul>
          </div>
          <br />
          <div>
            <%= simple_form_for(Answer.new, url: newanswer_path) do |f| %>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.input :value %> 
              <%= f.submit :submit %>
            <% end %>
          </div>
        </div>
      </div>
      <br />
    <% end %>
  </div>
  <div class="tab-pane fade" id="partner" role="tabpanel" aria-labelledby="partner-tab">
    <% Question.all.each do |question| %>
      <div class="card">
        <div class="card-body">
          <div>
            <label><strong><%= question.name %></strong></label>
            <ul class="list-group">
              <% question.answers.where(user: current_user.partner).each do |answer| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <%= answer.value %>
                  <span class="badge badge-primary badge-pill"> <%= answer.id %> </span>
                </li>
              <% end %>
            </ul>
          </div>
          <br />
          <div>
            <%= simple_form_for(Answer.new, url: newanswer_path) do |f| %>
              <%= f.hidden_field :question_id, value: question.id %>
              <%= f.input :value %> 
              <%= f.submit :submit %>
            <% end %>
          </div>
        </div>
      </div>
      <br />
    <% end %>
  </div>
</div>

